{% extends 'app_tienda/base2.html' %}

{% block contenido %}

|Ya puedes Editar o Agregar nuevos productos|

{% endblock %}


{% block admin %}
<li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'app_tienda-cafe' %}">Cafe</a></li>
<li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'app_tienda-tortas' %}">Tortas</a></li>
<li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'app_tienda-bebidas' %}">Bebidas</a></li>
<li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'app_tienda-salados' %}">Salados</a></li>
<li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'app_tienda-panqueques_wafles' %}">Panqueque y Wafles</a></li>
<img src="{{imagen_url}}"  style="max-width: 55px;">

<form method="post">
    {% csrf_token %}
    {{ formulario.as_p }}
    <input type="submit" value="Actualizar">
</form>

{% endblock %}
