{% extends 'app_tienda/menutemplate.html' %}



{% block contenido %}


<table class="table" style="background: rgba(255, 128, 0, 0.3); border: 12px solid rgba(0, 0, 0, 0.3);">
    <tr>
        <th>cafes</th>
    {% for c in cafes %}
        
        <td>{{c}} <a class="" href="{% url 'app_tienda-borrar-menu' c.id %}">Borrar</a> <a  href="{% url 'app_tienda-editar-cafe' c.id %}">Editar</a></td>

    {% endfor %}
    </tr>
    <tr>
        <th>tortas</th>
    {% for t in tortas %}
        
        <td>{{t}} <a  href="{% url 'app_tienda-borrar-menu-torta' t.id %}">Borrar</a> <a  href="{% url 'app_tienda-editar-torta' t.id %}">Editar</a></td>

    {% endfor %}
    </tr>
    <tr>
        <th>bebidas</th>
    {% for b in bebida %}
        
        <td> {{b}} <a href="{% url 'app_tienda-borrar-menu-bebida' b.id %}">Borrar</a> <a  href="{% url 'app_tienda-editar-bebida' b.id %}">Editar</a></td>

    {% endfor %}
    </tr>
    <tr>
        <th>salados</th>
    {% for s in salados %}
        
        <td> {{s}} <a href="{% url 'app_tienda-borrar-menu-salados' s.id %}">Borrar</a> <a  href="{% url 'app_tienda-editar-salados' s.id %}">Editar</a> </td>

    {% endfor %}
    </tr>
    <tr>
        <th>Panqueque y wafles</th>
    {% for pw in pan_waf %}
        
        <td> {{pw}} <a href="{% url 'app_tienda-borrar-menu-pan_waf' pw.id %}">Borrar</a> <a  href="{% url 'app_tienda-editar-Panqueques y Waffles' pw.id %}">Editar</a> </td>

    {% endfor %}
    </tr>
</table>
{% endblock %}